@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

#__next {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#demo-loader {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#demo-loader, #demo-loader * {
  pointer-events: none;
}

#demo-loader > div {
  width: 100%;
  height: 100%;
  display: flex;
}

#demo-loader > div > div {
  background-color: #000;
  flex: 1 1 auto;
  width: 150%;
  transform: translateX(0);
}

#demo-loader > div > div {
  box-shadow: 10px 10px 4px #000;
  border: 1px solid #000;
}

#demo-loader img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 256px;
}

#demo-loader.loaded img {
  animation: imageFade 0.25s ease-in-out forwards;
}

#demo-loader.loaded > div > div:first-child {
  animation: leftOut 1s ease-in-out forwards;
}

#demo-loader.loaded > div > div:last-child {
  animation: rightOut 1s ease-in-out forwards;
}

@keyframes imageFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes leftOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes rightOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}